.root {
}

.burger {
    position: absolute;
    top: env(safe-area-inset-top);
    height: 40px;
    width: 40px;
    border-radius: 0;
    z-index: 10;
}

.burger svg {
    height: 20px;
    width: 20px;
}