.root {
    position: fixed;
    top: calc(env(safe-area-inset-top) + var(--mantine-spacing-lg));
    right: var(--mantine-spacing-xs);
    z-index: var(--mantine-z-index-popover);
    margin-left: var(--mantine-spacing-md);
    width: 320px;
    max-width: 90dvw;
}
