@import '@mantine/core/styles.css';
@import '@railmapgen/mantine-components/styles.css';

:root {
    background-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #242424;
        color: white;
    }
}

html {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    width: -webkit-fill-available;
    padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}

@media (display-mode: standalone) {
    body {
        padding-bottom: 0;
    }
}

div#root {
    height: 100%;
    width: 100%;
    background: inherit;
}

* {
    box-sizing: border-box;
}
